* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background: rgb(30, 40, 48);
}

.logo {
    font-size: 30px;
    color:white;
}

.searchForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 5vh;
}

input {
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    box-shadow: 0px 0px 30px 0px white;;
}

.searchIcon {
    display: none;
    padding: 20px;
}

.searchIcon {
    color: white;
}

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .hamburger {
        margin-left: 10px;
        z-index: 2;
    }

    .searchIcon {
        display: block;
        margin-right: 10px;
        font-size: 25px;
        color: white;
    }
    
    .searchForm {
        position: fixed;
        right: 0px;
        top:0;
        height: 7vh;
        width:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    input {
        box-shadow: 0 0 0 0;
        height: 5vh;
        background: white;
    }
}

.searchForm-active {
    right: 5%;
    transform: translateX(0%);
}